<% if object.errors.any? %>
  <div class='py-6'>
    <p class='text-center'>資料有誤，請填寫正確格式：</p>
    <ul class='text-red-400'>
      <% object.errors.full_messages.each do |message| %>
        <li class="text-center error_message"><%= message %></li> 
      <% end %> 
    </ul>
  </div>  
<% end %>
