<main class='py-10 reverse-bg'>
  <div id="donate_item" class="max-w-3xl p-8 py-8 mx-auto bg-white shadow rounded-xl">
    <h1 class="py-4 my-4 text-2xl tracking-wider text-center text-white bg-purple-400 rounded-2xl"> 編輯贊助方案 </h1>
    <%= render 'input_errors' %>
    <%= render 'form', url: @edit_url, method: @edit_method %>
</main>