<section>
  <div>
    <h1><%= @donate_item.title %></h1>
    <span>NT$ <%= @donate_item.price %></span>
    <input type="number" value="1" min="1">
  </div>
  <div>
    <p><%= @donate_item.content %></p>
  </div>
</section>

<%# 頁面參照：https://wabay.tw/projects/unsilencedtw/rewards/21155?locale=zh-TW %>

