<main class="bg-gray-50" >
    <%# 輪播片 %>
    <section id="banner">
        <%= javascript_pack_tag 'Banner' %>
    </section>
    <section>
        <div class="max-w-6xl mx-auto flex items-end mb-4">
            <h2 class="mx-5 text-3xl font-extrabold">平台推薦</h2>
            <a class="text-blue-400" href="">More</a>
        </div>
        <div class="mx-auto max-w-6xl md:flex ">
            <div class="FundraisingItem mx-5 md:w-1/3 pb-6">
                <img class="w-full rounded-3xl" src="https://fakeimg.pl/300x200/200" alt="ss"/>
                <div class='mb-7'>
                    <p class='hover:text-gray-500 my-1'>props.class</p>
                    <h3 class='hover:text-blue-400 my-1 font-semibold text-xl'>props.title</h3>
                    <p  class='my-1'>提案者 <a class='text-blue-400 hover:text-blue-300'  href="">五貝貝</a></p>
                </div>
                <div>
                    <span class='my-1'>NT $ 10000</span>
                </div>
                <div class="progress-container h-3 rounded-md relative my-4">
                    <span id="progressPercent">0%</span>
                    <div class="progress" data-controller='progressBar'></div>
                </div>
                <div class=''>
                    <span>倒數??天</span>
                </div>
            </div>
            <div class="FundraisingItem mx-5 md:w-1/3 pb-6">
                <img class="w-full rounded-3xl" src="https://fakeimg.pl/300x200/200" alt="ss"/>
                <div class='mb-7'>
                    <p class='hover:text-gray-500 my-1'>props.class</p>
                    <h3 class='hover:text-blue-400 my-1 font-semibold text-xl'>props.title</h3>
                    <p  class='my-1'>提案者 <a class='text-blue-400 hover:text-blue-300'  href="">五貝貝</a></p>
                </div>
                <div>
                    <span class='my-1'>NT $ 10000</span>
                </div>
                <div class="progress-container h-3 rounded-md relative my-4">
                    <span id="progressPercent">0%</span>
                    <div class="progress" data-controller='progressBar'></div>
                </div>
                <div class=''>
                    <span>倒數??天</span>
                </div>
            </div>
            <div class="FundraisingItem mx-5 md:w-1/3 pb-6">
                <img class="w-full rounded-3xl" src="https://fakeimg.pl/300x200/200" alt="ss"/>
                <div class='mb-7'>
                    <p class='hover:text-gray-500 my-1'>props.class</p>
                    <h3 class='hover:text-blue-400 my-1 font-semibold text-xl'>props.title</h3>
                    <p  class='my-1'>提案者 <a class='text-blue-400 hover:text-blue-300'  href="">五貝貝</a></p>
                </div>
                <div>
                    <span class='my-1'>NT $ 10000</span>
                </div>
                <div class="progress-container h-3 rounded-md relative my-4">
                    <span id="progressPercent">0%</span>
                    <div class="progress" data-controller='progressBar'></div>
                </div>
                <div class=''>
                    <span>倒數??天</span>
                </div>
            </div>
        </div>
    </section>
    <%# 特色 %>
    <section id='feature' class="py-10">
        <%= javascript_pack_tag 'Feature' %>
    </section>
    <section>
        <div class="max-w-6xl mx-auto flex items-end mb-4">
            <h2 class="mx-5 text-3xl font-extrabold">挖貝選物</h2>
            <a class="text-blue-400" href="">More</a>
        </div>
        <div class="mx-auto max-w-6xl md:flex ">
            <div class="FundraisingItem mx-5 md:w-1/3 pb-6">
                <img class="w-full rounded-3xl" src="https://fakeimg.pl/300x200/200" alt="ss"/>
                <div class='mb-7'>
                    <p class='hover:text-gray-500 my-1'>props.class</p>
                    <h3 class='hover:text-blue-400 my-1 font-semibold text-xl'>props.title</h3>
                    <p  class='my-1'>提案者 <a class='text-blue-400 hover:text-blue-300'  href="">五貝貝</a></p>
                </div>
                <div>
                    <span class='my-1'>NT $ 10000</span>
                </div>
                <div class="progress-container h-3 rounded-md relative my-4">
                    <span id="progressPercent">0%</span>
                    <div class="progress" data-controller='progressBar'></div>
                </div>
                <div class=''>
                    <span>倒數??天</span>
                </div>
            </div>
            <div class="FundraisingItem mx-5 md:w-1/3 pb-6">
                <img class="w-full rounded-3xl" src="https://fakeimg.pl/300x200/200" alt="ss"/>
                <div class='mb-7'>
                    <p class='hover:text-gray-500 my-1'>props.class</p>
                    <h3 class='hover:text-blue-400 my-1 font-semibold text-xl'>props.title</h3>
                    <p  class='my-1'>提案者 <a class='text-blue-400 hover:text-blue-300'  href="">五貝貝</a></p>
                </div>
                <div>
                    <span class='my-1'>NT $ 10000</span>
                </div>
                <div class="progress-container h-3 rounded-md relative my-4">
                    <span id="progressPercent">0%</span>
                    <div class="progress" data-controller='progressBar'></div>
                </div>
                <div class=''>
                    <span>倒數??天</span>
                </div>
            </div>
            <div class="FundraisingItem mx-5 md:w-1/3 pb-6">
                <img class="w-full rounded-3xl" src="https://fakeimg.pl/300x200/200" alt="ss"/>
                <div class='mb-7'>
                    <p class='hover:text-gray-500 my-1'>props.class</p>
                    <h3 class='hover:text-blue-400 my-1 font-semibold text-xl'>props.title</h3>
                    <p  class='my-1'>提案者 <a class='text-blue-400 hover:text-blue-300'  href="">五貝貝</a></p>
                </div>
                <div>
                    <span class='my-1'>NT $ 10000</span>
                </div>
                <div class="progress-container h-3 rounded-md relative my-4">
                    <span id="progressPercent">0%</span>
                    <div class="progress" data-controller='progressBar'></div>
                </div>
                <div class=''>
                    <span>倒數??天</span>
                </div>
            </div>
        </div>
    </section>
    <%# 提案章節 %>
    <section class='propose flex flex-col items-center py-7'>
        <p class='text-center'>用群眾的力量，<br/>讓有價值的事物獲得更好的機會！</p>
        <a class='bg-blue-400 px-14 py-3 my-6 rounded-lg text-white hover:bg-blue-300' href="">發起提案</a> 
    </section>
</main>

