.swiper{
    padding-bottom: 30px;
}
.swiper-button-next{
    right:15vw;
}
.swiper-button-prev{
    left: 15vw;
}
.swiper-button-next, .swiper-button-prev{
    background-color: white;
    border-radius: 50%;
    border: 3px #007aff solid;
    padding: 3vw;
    font-size: 20px;
    display: none;
    top:50%;
    transform: translateY(-50%); 
    transition: .3s;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 3vw;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: #007aff;
    color: white
}
@media screen and (min-width:768px){
    .swiper-button-next, .swiper-button-prev{
        display: flex;
    }
}