.form-list :first-child{
  grid-column: span 2 / span 2;
}
.form-list :last-child{
  grid-column: span 8 / span 8
}
.field_with_errors input {
  border-color: red;
  border-width: 1px;
}
.field_with_errors label {
  color: red;
  display: block;
}
.wave-bg{
  background-image: url(../src/assets/img/YPwave.png);
}
.divider{
  text-align: center;
  position: relative;
  color: rgb(189, 189, 189);
  margin-top: 40px;
}
.divider::after{
  content: ' ';
  position: absolute;
  top: 50%;
  left: 55%;
  right: 0;
  height: 1px;
  background-color: rgb(223, 223, 223);
}
.divider::before{
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  right: 55%;
  height: 1px;
  background-color: rgb(223, 223, 223);
}
.reverse-bg{
  background-image: url(../src/assets/img/reversewave.png);
  background-size: 100% 80%; 
  background-repeat: no-repeat;
}