@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body{
    font-family: 'Noto Sans TC',sans-serif !important;
}
.progress-container{
    width: 100%;
    background-color: rgb(227, 221, 221);
    border-radius: 6px;
    margin: 16px 0px;
    height: 16px;
    position:  relative;
}
.progress-container span{
	position: absolute;
	right: 0;
	left: 0;
    top:-6px;
	text-align: center;
    font-size: 18px;
	color: rgb(255, 249, 70);
    z-index: 10;
}
.progress-container .progress-bar{
    height: 100%;
    width: 0px;
    border-radius: 0.4rem;
    background: linear-gradient(to left, #ae69f3, #924cfc);
    transition: 1s ease 0.3s;
}
footer{
    background:radial-gradient(350px at 5% 105%,rgb(207, 153, 255),white)
}
.footer-items ul li{
    margin: 10px 0;
}
.projects-img-box{
    position: relative;
    width: 100%;
    padding-bottom: 60%;
}
.projects-link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.dot-bg{
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(rgba(222,189,255,1) 2px, #ffffff 2px);
    background-size: 40px 40px;
}
