/* .progress {
	background-color: #d8d8d8;
	border-radius: 20px;
    position: relative;
	margin: 10px 0;
	height: 16px;
	width: 100%;
}

.progress span{
    position: absolute;
    right: 0;
    left: 0;
	top: -5px;
    text-align: center;
    color: rgb(255, 249, 70);
}
.progress-done {
	background: linear-gradient(to left, #ae69f3, #924cfc);
	border-radius: 20px;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
} */