.translucent-cover{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 175px;
	background-image: linear-gradient(0deg,#fff,#fff 20%,hsla(0,0%,100%,0));
}
/* 中間導覽列分頁超連結 */
.current-page{
	color:#bd4ef4;
	text-shadow: 0px 5px 15px#b578f3;
}
/* 點擊開合問與答 */
.accordion .contentBox{
	margin:20px 0px;
	border: 1px solid rgb(218, 209, 209);
	border-radius: 0.5em;
	overflow: hidden;
}
.accordion .contentBox .contentTitle{
	position: relative;
	padding: 10px;
	cursor: pointer;
}
.accordion .contentBox .contentTitle::before{
	content: "▼";
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.accordion .contentBox.active .contentTitle::before{
	content: "▲";
}
.accordion .contentBox .content{
	background: #fff;
	display: none;
	transition: 0.5s;
	padding: 0px 10px 10px ;
}
.accordion .contentBox.active .content{
	display: block;
}
.trix-content{
	margin-bottom: 10px;

}
.attachment img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}