<% @follows.each do |follow| %>
  <div>

    <h1><%= link_to Project.find_by!(id: follow.followable_id).project_title, project_path(id: follow.followable_id) %></h1>

    <p>提案者：<%= Project.find_by!(id: follow.followable_id).organizer %></p>

    <button 
          data-controller='follow'
          data-action='click->follow#cancelFollow' 
          data-project-id='<%= Project.find_by!(id: follow.followable_id).id %>' >取消追蹤
    </button>

  </div>

<% end %>