<% @follows.each do |follow| %>
  <div>
    <h1><%= link_to Project.find_by!(id: follow.followable_id).project_title, project_path(id: follow.followable_id) %></h1>
    <p>提案者：<%= Project.find_by!(id: follow.followable_id).organizer %></p>
    <%= link_to '取消追蹤', follow_project_path(id: follow.followable_id), method: 'post' %>
  </div>

<% end %>