.header-item{
    height: 70px;
}
.mobile-nav{
    top: 90px;
    left: -100%;
    transition: .3s;
}
#mobile-nav-switch:checked ~ .mobile-nav{
    left: 0%;
}
#mobile-nav-switch:checked + label :first-child{
    display: none;
}
#mobile-nav-switch:checked + label :last-child{
    display: inline-block
}