.new-form-list :first-child{
  grid-column: span 2 / span 2;
}
.new-form-list :last-child{
  grid-column: span 8 / span 8
}
.field_with_errors input {
  border-color: red;
  border-width: 1px;
}
.field_with_errors label {
  color: red;
  display: block;
}