.stepBar{
	display:  flex;
	justify-content:  space-between;
	align-items:  flex-end;
	margin:  10px  auto;
	position: relative;
}
.stepBar::before{
	content: "";
	background: rgb(171, 171, 171);
	position: absolute;
	top:50%;
	left: 0px;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
}
.bar{
	background:#d486f6;
	position: absolute;
	top:50%;
	left: 0px;
	transform: translateY(-50%);
	height: 4px;
	z-index: 0;
}
.step-text  {
  margin-bottom:  10px;
  color:  #d486f6;
}
.bullet {
	border: 1px solid grey;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color:  grey;
	display: inline-block;
	position: relative;
  color: white;
}
.completed {
	background-color:#bd4ef4;
	border: 1px solid#be4ef4;
  box-shadow: 0px 0px 15px 8px #c56deb
}	
.translucent-cover{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 175px;
	background-image: linear-gradient(0deg,#fff,#fff 20%,hsla(0,0%,100%,0));
}
/* 中間導覽列分頁超連結 */
.current-page{
	color:#bd4ef4;
	text-shadow: 0px 5px 15px#b578f3;
}
/* 點擊開合問與答 */
.accordion .contentBox{
	margin:0px 20px 20px;
	border: 1px solid rgb(218, 209, 209);
	border-radius: 0.5em;
	overflow: hidden;
}
.accordion .contentBox .contentBtn{
	position: relative;
	padding: 10px;
	cursor: pointer;
}
.accordion .contentBox .contentBtn::before{
	content: "▼";
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.accordion .contentBox.active .contentBtn::before{
	content: "▲";
}
.accordion .contentBox .content{
	background: #fff;
	display: none;
	transition: 0.5s;
	padding: 10px;
}
.accordion .contentBox.active .content{
	display: block;
}
.trix-content{
	margin-bottom: 10px;
	padding:0px 20px;
}